
@media (max-width: 1400px) {
    .container {
        max-width: 100%;
        padding: 0 30px 0 36px;
    }

// main .about{ 
//       img{
//     width: 650px;
//     height: auto;
// }
//     article{
//         padding-right: 20px;
//         h1{
//             font-size: 75px;
//         }
//     }
//     }
}
// @media(max-width: 1300px){
//     main .about{
//         img{
//             width: 500px;
//         }
//         article{
//         margin-top: 100px;
//         width: calc(100% - 500px);
//         h1{
//             font-size: 43px;
//         }
//     }
      
//     }
// }
@media(max-width: 1100px){
    header{
        .navbar{  
            gap: 10px;          
            a{
                font-size: 14px;
            }      
        }
    }
}

@media(max-width: $medium){
    header{
        .header-logo{
            :first-child{
                display: none;
            }
            :last-child{
                display: flex;
            }
        }
        .navigation{
            display: none;
        }
        .header-right-side{
            .hamburger{
                display: flex;
            }
        }
        .navigation-menu{
            &.active{
                display: flex;
            }
        }
    }
    main{
        background-image: url('../images/backgrounds/medium-bg.png');
        .main-banner{
            .desktop-content{
                display: none;
            }
            .mobile-content{
                display: block;
                margin-top: 127px;
                padding: 0 20px;
                h2{
                    font-size: 63px;
                    text-transform: unset;
                }
                p{
                    font-size: 16px;
                }
            }
            img{
                margin-top: -150px;
            }
  
        }    
    //  .about {
    //     img{
    //         width: 409px;
    //         height: 491px;
    //     }
    //     article{
    //         width: 100%;
    //         padding-right: 20px;
    //         h1{
    //             margin-top: 150px;
    //             padding-left: 50%;
    //             display: flex;
    //         }
    //     }
          
    //     }     
    }
}

@media(max-width: $mobile){
    header{
        .header-logo{
            :last-child{
                width: 131px;
                height: 23px;
            }
        }
        .navigation-menu{
            background-image: unset;
        }
    }
    main{
        background-image: url('./../images/backgrounds/mobile-bg.png');
        .main-banner{
            .mobile-content{
                margin-top: 127px;
                span{
                    display: none;
                }
                h2{
                    font-size:30px;
                    margin-bottom: 40px;
                }
            }
        }        
    }
}