// COLORS
$white: #ffffff;
$black: #000000;
$grey-darker: #000335;
$grey-dark: #41414F;
$grey-normal: #677178;
$green: #0C5E43;
$green-dark: #056D48;
$green-light: #E2EEEE;
$orange: #FFD655;
$white-light: #F8F8F8;

// SIZES
$container-x: 240px;

// MEDIA

$medium: 768px;
$mobile: 480px;