* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #E2EEEE;
}

a {
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
}

button {
  border: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1340px;
  margin: 0 auto;
}

.title {
  font: 400 90px/30px;
  color: #0C5E43;
  margin-bottom: 55px;
  text-align: center;
}

.sub-title {
  font: 400 26px;
  color: #000335;
  text-align: center;
}

.content-title {
  font: 400 30px/80px;
  color: #000335;
}

.content-text {
  font: 300 15px/27px;
  color: #000335;
}

.card {
  padding: 25px;
  background-color: #F8F8F8;
  border-radius: 10px;
}

.btn-card {
  height: 50px;
  padding: 0 50px;
  color: #41414F;
  background-color: #FFD655;
  border-radius: 30px;
  font: 400 20px;
  border: unset;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/MontserratAlternates-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Niconne";
  src: url("../fonts/Niconne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
header {
  display: flex;
  align-items: _;
  justify-content: space-between;
  width: 100%;
  height: 68px;
  background-color: #0C5E43;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
header section {
  flex-grow: 1;
}
header .header-logo {
  display: flex;
  align-items: center;
}
header .header-logo :last-child {
  display: none;
}
header .navbar {
  display: flex;
  align-items: _;
  justify-content: space-between;
  gap: 35px;
}
header .navbar a {
  color: #ffffff;
  font-weight: 600;
}
header .header-right-side {
  display: flex;
  align-items: center;
  justify-content: _;
  gap: 23px;
}
header .header-right-side a {
  text-decoration: underline;
  color: #ffffff;
  font: 400 13px/100% "Montserrat";
}
header .header-right-side .hamburger {
  width: 35px;
  height: 22px;
  background: #0C5E43 url("./../icons/hamburger.svg");
  display: none;
}
header .progress-bar {
  width: 0;
  height: 5px;
  background-color: #FFD655;
  border-radius: 0 5px 5px 0;
  position: absolute;
  bottom: -1px;
  left: 0;
}
header .navigation-menu {
  display: flex;
  flex-direction: column;
  align-items: self-end;
  justify-content: space-between;
  width: 100%;
  height: calc(100vh - 68px);
  background: #E2EEEE url("./../images/backgrounds/medium-navbar-bg.png") 0% 0%/contain no-repeat;
  position: absolute;
  top: 68px;
  right: 0;
  padding: 47px 30px 26px 0;
  display: none;
}
header .navigation-menu ul {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: right;
  gap: 40px;
}
header .navigation-menu ul a {
  font: 600 35px "Montserrat";
  color: #000335;
}
header .navigation-menu .mobile-nav-logo {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: self-end;
  gap: 30px;
}

main {
  background: #E2EEEE url("../images/backgrounds/desktop-main-bg.svg") 100% 0/cover no-repeat;
}
main .main-banner img {
  width: 100%;
}
main .main-banner .desktop-content,
main .main-banner .mobile-content {
  margin-top: 124px;
}
main .main-banner .desktop-content h2,
main .main-banner .mobile-content h2 {
  text-align: center;
  font-size: 55px;
  font-weight: 400;
  color: #0C5E43;
  text-transform: uppercase;
  margin-bottom: 15px;
}
main .main-banner .desktop-content p,
main .main-banner .mobile-content p {
  text-align: center;
  font-weight: 400;
  font-size: 25px;
  color: #000335;
}
main .main-banner .mobile-content {
  display: none;
}
main .about {
  display: flex;
  justify-content: flex-end;
  background-color: #E2EEEE;
  position: relative;
  min-height: 892px;
}
main .about img {
  position: absolute;
  height: 892px;
  width: 756px;
  top: 0;
  left: 0;
}
main .about article {
  display: flex;
  flex-direction: column;
  width: 45%;
  gap: 40px;
  padding-right: 100px;
  padding-bottom: 20px;
}
main .about article h1 {
  font-size: 90px;
  font-weight: 400;
  color: #0C5E43;
}
main .about article p {
  padding-right: 40px;
  color: #000335;
}
main .products {
  display: flex;
  flex-direction: column;
  gap: 173px;
  padding: 60px 0;
}
main .products .products-list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
main .products .products-list .product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
main .products .products-list .product-card .details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 30px 0;
  font: 400 38px/30px "Niconne";
}
main .products .products-list .product-card .details sup {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
}
main .products .products-list .product-card .btn-order {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -25px;
  text-wrap-mode: nowrap;
}

@media (max-width: 1400px) {
  .container {
    max-width: 100%;
    padding: 0 30px 0 36px;
  }
}
@media (max-width: 1100px) {
  header .navbar {
    gap: 10px;
  }
  header .navbar a {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  header .header-logo :first-child {
    display: none;
  }
  header .header-logo :last-child {
    display: flex;
  }
  header .navigation {
    display: none;
  }
  header .header-right-side .hamburger {
    display: flex;
  }
  header .navigation-menu.active {
    display: flex;
  }
}
@media (max-width: 480px) {
  header .header-logo :last-child {
    width: 131px;
    height: 23px;
  }
  header .navigation-menu {
    background-image: unset;
  }
  main .main-banner {
    background-image: url("./../images/mobile-coffee-group.png");
    min-height: 671px;
  }
  main .main-banner .mobile-content {
    margin-top: 61px;
  }
  main .main-banner .mobile-content span {
    display: none;
  }
  main .main-banner .mobile-content h2 {
    font-size: 30px;
    margin-bottom: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
